#aboutus {
  margin: 15px;
}

#aboutyou {
  color: chocolate;
}

#fname {
  color: chocolate;
}

body {
  background-color: #663d14;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
}

#header {
  color: white;
  font-size: 35px;
  border-style: solid;
  border-bottom: thick line #000;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
}
