/* body {
    font-family: 'Odor Mean Chey', serif;
} */
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
  height: 400px;
  width: 700px;
  margin-bottom: 25px;
}

body {
  background-image: url("../images/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
}

#recipes-card {
  text-align: center;
}

#name {
  color: chocolate;
  font-size: 35px;
  border-style: solid;
  border-bottom: thick line #000;
  border-top: none;
  border-left: none;
  border-right: none;
}

#ingredients {
  color: chocolate;
  font-size: 15px;
}

#description {
  color: chocolate;
  font-size: 15px;
}

#fname {
  color: chocolate;
}

#aboutyou {
  color: chocolate;
}

#aboutus {
  background-color: white;
}
