/* body {
    font-family: 'Odor Mean Chey', serif;
} */
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
  height: 400px;
  width: 700px;
  margin-bottom: 25px;
}

body {
  background-image: url("../images/background3.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
}

#recipes-card {
  text-align: center;
}

#name {
  color: white;
  font-size: 35px;
  border-style: solid;
  border-bottom: thick line #000;
  border-top: none;
  border-left: none;
  border-right: none;
}

#ingredients {
  color: white;
  font-size: 15px;
}

#description {
  color: white;
  font-size: 15px;
}

#recipes-card {
  background-color: chocolate;
}

#image {
  max-width: 10%;
}

#previous {
  float: left;
  background-color: #663d14;
}

#next {
  float: right;
  background-color: #663d14;
}
