/* HTML Selectors */
body {
  background-image: url('../images/background4.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
}

/* ID Selectors */
#header {
  color: white;
  text-align: center;
  font-size: 35px;
  border-style: solid;
  border-bottom: thick line chocolate;
  border-top: none;
  border-left: none;
  border-right: none;
}

#cardbg {
  background-color: chocolate;
  color: white;
}
