/* body {
    font-family: 'Odor Mean Chey', serif;
} */

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 600px;
  width: 700px;
  margin-bottom: 25px;
}

body {
  background-image: url("../images/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
}

#shoppic {
  opacity: 0.5;
}

#cardbg {
  background-color: whitesmoke;
}

iframe {
  border: 2px solid chocolate;
  border-radius: 1%;
}

#search-address {
  width: 300px;
  margin: 15px;
  padding: 10px;
}
